body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    color: white;
    text-align: center;
    padding-top: 50px;
    min-height: 100vh;
    
    /* Camada de cor + Imagem de fundo */
    background: linear-gradient(rgba(27, 40, 56, 0.85), rgba(27, 40, 56, 0.85)), 
                url('assets/chatcs.png') no-repeat center center fixed;
    background-size: cover;
}

.orange {
    color: #ff9d00;
    font-weight: bold;
}

/* Manifesto */
main {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border-left: 5px solid #ff9d00;
    backdrop-filter: blur(5px);
}

/* murak da vergonha */
mural-unico {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.console-box {
    background: rgba(0, 0, 0, 0.8);      /* Fundo  */
    border: 1px solid #333;
    border-top: 3px solid #ff9d00;      /* laranja em cima */
    padding: 20px;
    text-align: left;
    font-family: 'Courier New', monospace; /* outra fonte  */
    max-height: 400px;                  /* fixa a altura */
    overflow-y: auto;                   
    box-shadow: inset 0 0 10px #000;
}

.log-entry {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.log-date {
    color: #888;
    margin-right: 10px;
}

.log-user {
    color: #ff9d00;
    font-weight: bold;
    margin-right: 5px;
}

.log-msg {
    color: #e0e0e0;
}

/* para o scroll */
.console-box::-webkit-scrollbar {
    width: 8px;
}
.console-box::-webkit-scrollbar-thumb {
    background: #ff9d00;
}