body {
    background-color: #1b2838; /*  AZUL STEAM ?? */
    color: white;
    font-family: 'exo 2' , sans-serif;     /* 'Stratum2'== exo2 ? FONTE DO CS? */
    text-align: center;
    padding-top: 50px;
}

.orange {
    color: #ff9d00; /* TESTE LARANJA DO CS ?? */
}

