body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    color: white;
    text-align: center;
    padding-top: 50px;
    min-height: 100vh;
    
    /*  cor + imagem de fundo */
    background: linear-gradient(rgba(27, 40, 56, 0.85), rgba(27, 40, 56, 0.85)), 
                url('assets/chatcs.png') no-repeat center center fixed;
    background-size: cover;
}
.navbar {
    display: flex;
    justify-content: space-between; /* PARA COLOCAR O LOGIN NO CANTO*/
    align-items: center;
    background: rgba(10, 15, 25, 0.95); /* AZUL QUASE PRETO */
    padding: 0 40px;
    height: 60px;
    border-bottom: 2px solid #ff9d00;
    position: fixed; /* FICA FIXA  */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.nav-links {
    display: flex;
    gap: 40px; /* ESPAÇAMENTO BOTÕES */
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.2s;
}

.nav-item:hover {
    color: #ff9d00;
}

.nav-auth .login-btn {
    background: #ff9d00;
    color: black;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 3px;
    transition: background 0.2s;
}

.nav-auth .login-btn:hover {
    background: #e68a00;
}

/* o conteúdo do body precisa descer */
body {
    padding-top: 110px; /* aumentar  */
}

.orange {
    color: #ff9d00;
    font-weight: bold;
}

/* meanifesto */
main {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border-left: 5px solid #ff9d00;
    backdrop-filter: blur(5px);
}

/* murak da vergonha */
mural-unico {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.console-box {
    background: rgba(0, 0, 0, 0.8);      /* Fundo  */
    border: 1px solid #333;
    border-top: 3px solid #ff9d00;      /* laranja em cima */
    padding: 20px;
    text-align: left;
    font-family: 'Courier New', monospace; /* outra fonte  */
    max-height: 400px;                  /* fixa a altura */
    overflow-y: auto;                   
    box-shadow: inset 0 0 10px #000;
}

.log-entry {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.log-date {
    color: #888;
    margin-right: 10px;
}

.log-user {
    color: #ff9d00;
    font-weight: bold;
    margin-right: 5px;
}

.log-msg {
    color: #e0e0e0;
}

/* para o scroll */
.console-box::-webkit-scrollbar {
    width: 8px;
}
.console-box::-webkit-scrollbar-thumb {
    background: #ff9d00;
}